<p>
Helpers Registered: <br>

<!-- HTML comment BTW: Create list containing Helpers Registered -->
<ul>
<li>
</ul>
</p>

<p>
VIPs Registered: <br>

<!-- HTML comment BTW: Create list containing VIPs Registered -->
<ul>
<li>
</ul>
</p>

<p>
Users online: <br>

<!-- HTML comment BTW: Create list containing Users online -->
<ul>
<li>
</ul>
</p>

<p>
Helpers Registered: <br>

<!-- HTML comment BTW: Create list containing Helpers Registered -->
<ul>
<li>
</ul>
</p>